*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main-profile-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#profile-card>img{
   width: 100px;
   height: 100px;
   border-radius: 50px;
}

#profile-card{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: darkblue;
    border-radius: 20px;
}

#profile-content{
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}