* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/0cb64355463045.59850cbde10f7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: capitalize;
  background: transparent;
  backdrop-filter: blur(20px);
  width: 500px;
  height: 500px;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

form > input {
  padding: 5px;
  border-radius: 10px;
  border: none;
}

textarea {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}
